<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BPELUnit TestSuite Editor"
            extensions="bpts"
            icon="icons/bpel.gif"
            contributorClass="net.bpelunit.toolsupport.editors.BPELUnitEditorContributor"
            class="net.bpelunit.toolsupport.editors.BPELUnitEditor"
            id="net.bpelunit.toolsupport.editors.BPELUnitEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="BPELUnit"
            id="net.bpelunit.toolsupport">
      </category>
      <wizard
            name="BPELUnit TestSuite"
            icon="icons/bpel.gif"
            category="net.bpelunit.toolsupport"
            class="net.bpelunit.toolsupport.wizards.BPELUnitNewWizard"
            id="net.bpelunit.toolsupport.wizards.BPELUnitNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            extradir="doc"
            file="doc/main.xml"
            primary="true"/>
      <toc
            extradir="doc"
            file="doc/tasks.xml"
            primary="false"/>
      <toc
            extradir="doc"
            file="doc/editor.xml"
            primary="false"/>
   </extension>

</plugin>
