<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.bpelunit.framework.client.eclipse.dataSource">
      <datasource
            class="org.bpelunit.framework.control.datasource.html.HtmlDataSource">
      </datasource>
   </extension>


</plugin>
